<div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <img src="assets/img/logo.PNG" class="img-fluid" alt="Responsive image" width="200" height="150" />
        
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ul>

         <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </div>
</div>


